

:root{
     /* shadows */
     --black :black;
     --shadow-1: 0 8px 16px var(--black);
     --shadow-2: 0 4px 10px var(--black);
     --lightblue :#c1dadf;
}

nav .nav-links .dropdown-con{
    display: none;
    position: relative;
    z-index: 1;
    
    
}
nav .nav-links .dropdown-con ul{
    display:flex;
    flex-direction:column;
    position: absolute;
    z-index: 2;
    margin-top:20px;
    width:150px;
    background-color:white;
    box-shadow:0px 3px 11px 1px rgba(0,0,0,0.1);
    border-radius:5px;
}
nav .nav-links .dropdown-con ul li {
    padding:10px 5px 10px 10px;
    color:rgb(54, 53, 53);
    
}
nav .nav-links .dropdown-con ul li a{
    color:black;
}
nav .nav-links .dropdown-con ul li a:hover{
    color:black;
}




nav .nav-links ul li:hover .dropdown-con{
    display: block;
    
}
nav .nav-links .dropdown-con li:hover{
    cursor: pointer;
    background-color:var(--lightblue);
    color:black;
    font-weight:450;
}


